/* COLORES PRINCIPALES */
body {
  background-color: #181818; }

footer {
  background-color: #343434; }

.navbar {
  background-color: #343434 !important; }

/* LIGHT MODE */
.lightMode {
  background-color: #f9f9f9; }
  .lightMode .navbar-brand,
  .lightMode footer {
    color: #f9f9f9 !important; }
  .lightMode main,
  .lightMode #search-button {
    color: #000; }
    .lightMode main button,
    .lightMode main input,
    .lightMode #search-button button,
    .lightMode #search-button input {
      border-color: #000; }
      .lightMode main button.btn-outline-light:hover,
      .lightMode main input.btn-outline-light:hover,
      .lightMode #search-button button.btn-outline-light:hover,
      .lightMode #search-button input.btn-outline-light:hover {
        border-color: #000; }
      .lightMode main button#search-bar,
      .lightMode main input#search-bar,
      .lightMode #search-button button#search-bar,
      .lightMode #search-button input#search-bar {
        background-color: #f9f9f9; }
  .lightMode .card,
  .lightMode .card > img {
    background-color: #f1f1f1 !important;
    color: #000;
    border-color: #30a7d7 !important; }

/* TEXTOS */
/* body:not(.lightMode) > h1,
body:not(.lightMode) > h2,
body:not(.lightMode) > h3,
body:not(.lightMode) > h4,
body:not(.lightMode) > h5,
body:not(.lightMode) > h6,
body:not(.lightMode) > p,
body:not(.lightMode) > strong,
body:not(.lightMode) > .whiteTxt {
  color: map-get($colors, whiteColor) !important;
} */
body,
.navbar-brand {
  color: #ffffff !important; }

/* CLASES ESPECIFICAS */
.redBgColor {
  background-color: #8b0000; }

.advOptionsContainer,
.orangeBgColor {
  background-color: #ff5800; }

.darkSecColor {
  background-color: #343434; }

/* ARREGLO FOOTER SIEMPRE AL FINAL DE LA PAGINA */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

footer {
  margin-top: auto; }

/* VISIBLE E INVISIBLE */
.visible {
  display: flex !important; }

.hidden {
  display: none !important; }

* {
  font-family: "Oswald", sans-serif; }

.card-img-top {
  min-width: 100%;
  min-height: 60%; }

.card {
  min-height: 35vh; }

@media all and (max-width: 960px) {
  .card {
    min-height: 20em; }
  .card-img-top {
    min-height: 60%; } }

@media all and (min-width: 961px) and (max-width: 1367px) {
  .card {
    min-height: 19em; }
  .card-img-top {
    min-height: 60%; } }
