/* COLORES PRINCIPALES */

body {
  background-color: map-get($colors, darkMainColor);
}

footer {
  background-color: map-get($colors, darkSecColor);
}

.navbar {
  background-color: map-get($colors, darkSecColor) !important;
}

/* LIGHT MODE */

.lightMode {
  background-color: map-get($alternativeColors, whiteColor);
  .navbar-brand,
  footer {
    color: map-get($alternativeColors, whiteColor) !important;
  }
  main,
  #search-button {
    color: map-get($alternativeColors, darkColor);
    button,
    input {
      border-color: map-get($alternativeColors, darkColor);
      &.btn-outline-light:hover {
        border-color: map-get($alternativeColors, darkColor);
      }
      &#search-bar {
        background-color: map-get($alternativeColors, whiteColor);
      }
    }
  }
  .card,
  .card > img {
    background-color: map-get($alternativeColors, greyColor) !important;
    color: map-get($alternativeColors, darkColor);
    border-color: map-get($alternativeColors, blueColor) !important;
  }
}

/* TEXTOS */
/* body:not(.lightMode) > h1,
body:not(.lightMode) > h2,
body:not(.lightMode) > h3,
body:not(.lightMode) > h4,
body:not(.lightMode) > h5,
body:not(.lightMode) > h6,
body:not(.lightMode) > p,
body:not(.lightMode) > strong,
body:not(.lightMode) > .whiteTxt {
  color: map-get($colors, whiteColor) !important;
} */

body,
.navbar-brand {
  color: map-get($colors, whiteColor) !important;
}

/* CLASES ESPECIFICAS */

.redBgColor {
  background-color: map-get($colors, redColor);
}

.advOptionsContainer,
.orangeBgColor {
  background-color: map-get($colors, orangeColor);
}

.darkSecColor {
  background-color: map-get($colors, darkSecColor);
}
