$colors: (
  darkMainColor: #181818,
  darkSecColor: #343434,
  redColor: #8b0000,
  orangeColor: #ff5800,
  whiteColor: #ffffff,
);

$alternativeColors: (
  whiteColor: #f9f9f9,
  darkColor: #000,
  blueColor: #30a7d7,
  greyColor: #f1f1f1,
);
